@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
	padding:0;
	margin:0;
}

html{
	background-color: rgb(241, 239, 239);
}

body{
	font:16px/1.6 Arial,  sans-serif;
}

header{
	text-align: center;
	padding-top: 100px;
    margin-bottom:190px;
    color:red;
}

header h1{
	font: normal 32px/1.5 'Open Sans', sans-serif;
	color: #3F71AE;
	padding-bottom: 16px;
}

header h2{
	color: #F05283;
}

header span{
	color: #3F71EA;
}


/* The footer is fixed to the bottom of the page */

footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: rgb(241, 239, 239);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 12px sans-serif;
	padding: 30px 30px 20px 30px;
	margin-top: 30px;
	height: 30px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: bottom;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 20%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 16px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 35%;
}

.footer-left img{
	width: 35%;
}

.footer-left img{
	width: 35%;
}
.footer-distributed h3 span{
	color:  #1a9bbb;
	font: normal 12px;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  rgb(241, 239, 239);
	margin: 20px 0 12px;
}

.footer-links{
	color:  rgb(241, 239, 239);
	margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
	color:  inherit;
	font-size: 12px;
}

.footer-links a{
	display:inline-block;
	line-height: 1.8;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
	color:  inherit;
	font-size: 12px;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}

.footer-company-name{
	color:  #8f9296;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 45%;
	display:inline-block;
	margin-top: 25px;	
	
}


.footer-center{
	width: 45%;
	align-items: center;
	vertical-align: bottom;
	
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: rgb(241, 239, 239);
	font-size: 12px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-center i{
	background-color:  #33383b;
	color: rgb(241, 239, 239);
	font-size: 12px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 12px;
	line-height: 38px;
}

.footer-center i.fa-envelope{
	font-size: 14px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: rgb(241, 239, 239);
	vertical-align: middle;
	margin:0;
}

.footer-center p{
	display: inline-block;
	color: rgb(241, 239, 239);
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size: 12px;
	line-height: 2;
}

.footer-center p span{
	display:block;
	font-weight: normal;
	font-size: 12px;
	line-height: 2;
}
.footer-distributed .footer-center p a{
	color:  #21b1b1;
	text-decoration: none;;
}

.footer-center p a{
	color:  #21b1b1;
	text-decoration: none;;
	font-size: 12px;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
	
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: inline-block;
	color:  rgb(241, 239, 239);
	font-size: 16px;
	font-weight: bold;
	
}

.footer-company-about span{
	display: inline-block;
	color:  rgb(241, 239, 239);
	font-size: 16px;
	font-weight: bold;

}
.footer-distributed .footer-icons{
	margin-top: 25px;
	
}

.footer-icons{
	margin-top: 25px;	
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 12px;
	color: rgb(241, 239, 239);
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 12px;
	color: rgb(241, 239, 239);
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}